{% extends 'base.html' %}

{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {{ user_form.non_field_errors }}
    <label for="{{ user_form.username.id_for_label }}">Username:</label>
    {{ user_form.username }}
    <br>
    <label for="{{ user_form.password1.id_for_label }}">Password:</label>
    {{ user_form.password1 }}
    <br>
    <label for="{{ user_form.password2.id_for_label }}">Confirm Password:</label>
    {{ user_form.password2 }}
    <br>
    {{ profile_form.non_field_errors }}
    <label for="{{ profile_form.idn_or_ssn.id_for_label }}">ID Card Number:</label>
    {{ profile_form.idn_or_ssn }}
    <br>
    <label for="{{ profile_form.is_elder.id_for_label }}">Are you an elder?</label>
    {{ profile_form.is_elder }}
    <br>
    <label for="{{ profile_form.is_volunteer.id_for_label }}">Are you a volunteer?</label>
    {{ profile_form.is_volunteer }}
    <br>
    <label for="{{ profile_form.location.id_for_label }}">Location:</label>
    {{ profile_form.location }}
    <br>
    <label for="{{ profile_form.bio.id_for_label }}">Bio:</label>
    {{ profile_form.bio }}
    <br>
    <label for="{{ profile_form.time_credits.id_for_label }}">Time Credits:</label>
    {{ profile_form.time_credits }}
    <br>
    <input type="submit" value="Register">
  </form>
{% endblock %}
